:root {
  --Btn-background: white;
  --Btn-color: black;
  --Profiles-background: #92c7c767;
}
.dark-mode {
  --Btn-color: #00bfff;
  --Btn-color: #fff;
  --Btn-background: transparent;
  --Profiles-background: transparent;
}

/* projects */
.projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-content: center;
  min-height: 100vh;
}
.project-contain {
  display: flex;
  width: 100%;
  row-gap: 40px;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.project-contain-box {
  display: flex;
  width: 100%;
  position: relative;
  max-width: 450px;
  justify-content: center;
  place-items: center;
  background-color: white;
  gap: 15px;
  padding-top: 4%;
  padding-left: 20px;
  border-radius: 15px;
  padding-right: 20px;
  padding-bottom: 40px;
  box-shadow: 1px 1px 3px lightgrey;
  filter: drop-shadow(1px 1px 3px lightgrey);
}
.dark-mode .project-contain-box {
  background-color: transparent;
  outline: 1px solid lightgray;
  box-shadow: 0.5px 0.5px 3px lightgrey;
  filter: drop-shadow(0.5px 0.5px 3px lightgrey);
}
.project-contain-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
  max-width: 500px;
  height: 65vh;
}
.project-contain-img {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 40vh;
}
.project-img {
  width: min(120vw, 410px);
  height: min(35vh, 500px);
  border-radius: 20px;
}

.project-contain-words {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  padding: 8px 0px;
  width: 100%;
}
.project-contain-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.project-contain-icons {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* align-content: center; */
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px 0px;
}
.project-btn {
  padding: 15px 35px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  margin: 5px 0px;
  p {
    text-transform: capitalize;
    font-weight: 700;
  }
  p:hover {
    font-weight: 800;
  }
}
.projects-btnc {
  display: flex;
  column-gap: 10px;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 50px 0px 30px 0px;
}

/* Profile */
.Profiles {
  margin-top: 10px;
  min-height: 100vh;
  margin-bottom: 10px;
  background-color: var(--Profiles-background);
}
.Profiles .head-h1 {
  color: var(--h1-color);
  margin-top: 10px;
}

/* Profiles-work */
.Profiles .Profiles-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Profiles-btn .all-btn {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 170px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
}
.profile-btn,
.profile-btn2,
.profile-btn3,
.profile-btn4 {
  display: block;
  cursor: pointer;
  padding: 10.5px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 550;
  color: var(--Btn-color);
  font-family: sans-serif;
  background-color: var(--Btn-background);
}
/* HOVER */
.profile-btn:hover,
.profile-btn2:hover,
.profile-btn3:hover,
.profile-btn4:hover {
  color: white;
  background: linear-gradient(
    #f75d59,
    #f75e597c,
    rgba(128, 0, 128, 0.326),
    purple
  );
  background-color: purple;
}
.dark-mode .profile-btn:hover,
.dark-mode .profile-btn2:hover,
.dark-mode .profile-btn3:hover,
.dark-mode .profile-btn4:hover {
  color: deepskyblue;
  background: none;
}

.Onactive-p {
  padding: 10.5px 20px;
  font-size: 15px;
  color: white;
  background: linear-gradient(
    #f75d59,
    #f75e597c,
    rgba(128, 0, 128, 0.326),
    purple
  );
  background-color: purple;
  font-weight: 550;
  padding: 10.5px 20px;
  border: none;
  border-radius: 6px;
  border-bottom: none;
  box-shadow: 1px 2px 5px gray;
}
.dark-mode .Onactive-p {
  padding: 10.5px 20px;
  font-size: 15px;
  background: none;
  color: deepskyblue;
  font-weight: 550;
  padding: 10.5px 20px;
  border: none;
  border-radius: 6px;
  border-bottom: none;
  box-shadow: 1px 2px 5px gray;
}

/* all-works */
.Profiles-display .html {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  width: 100%;
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 3px;
  width: 100%;
  overflow: hidden;
}
/* .Profiles-display .html {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
} */
.link {
  /* color: blue; */
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.link:hover {
  font-size: 18px;
  transition: all 0.5s ease;
}

/* Profiles-display */
.Profiles-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.Profiles-display .css {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
}

/* .dark-mode  */
.dark-mode .Profiles-display .css {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
}
.dark-mode .css .css-all,
.all .css-all {
  position: relative;
  display: grid;
  background: none;
  column-gap: none;
  animation: translates 3s linear forwards;
  overflow: hidden;
  box-shadow: none;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: auto;
}
.dark-mode .all .css-all {
  position: relative;
  display: grid;
  background: none;
  column-gap: none;
  animation: translates 3s linear forwards;
  overflow: hidden;
  box-shadow: none;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: auto;
}

.dark-mode .Profiles-display .html {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
}

.css .css-all,
.all .css-all {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 290px));
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
  width: 430px;
  column-gap: 10px;
  justify-content: center;
  padding: 10px 8px 3px 10px;
  height: auto;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 5px;
  margin-bottom: 15px;
  background: linear-gradient(to right, transparent, white);
  animation: translates 3s linear forwards;
}
@keyframes translates {
  0% {
    transform: translateY(-130px);
  }
  100% {
    transform: translateY(0px);
  }
}

.css-all .css-word {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
/* .dark-mode */

.dark-mode .css-word .about-p {
  margin-left: 10px;
}

.dark-mode .css-all .css-image:hover::before {
  top: -4px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  border-radius: 0px 0px 15px 15px;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 191, 255, 0.766) 100%
  );
}
.dark-mode .css-all .css-image:hover ~ .css-word {
  cursor: pointer;
  top: 0px;
  left: 5px;
  display: block;
  width: auto;
  font-size: 17px;
  position: absolute;
  height: 0%;
  color: white;
}

.dark-mode .css-all .css-word {
  /* position: absolute;
  width: 100%;
  height: 100%;
  font-size: 17px;
 display: flex;
  flex-direction: column;
  text-align: left; 
  display: none;
  color: white;
  border-radius: 10px;*/
  display: none;
}

.css-all .css-word h3 {
  margin: 0px 0px 5px 0px;
}
.dark-mode .css-all .css-word h3 {
  margin: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.css-all .css-image .images {
  width: 150px;
  height: 100px;
  border: none;
  cursor: pointer;
}

/* .dark-mode */
.dark-mode .css-all .css-image .images {
  width: 250px;
  height: 190px;
  border: 3px solid deepskyblue;
  border-radius: 10px;
}

/* .hovers{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,500px));
  justify-content: space-between;
  position: relative;
}
.hovers > span{
  grid-row: span 2;
}
 .reverse{
  grid-template-columns: repeat(auto-fit,minmax(500px,500px));
}

.hovers > div{
  grid-column: 2;
}
.hovers#reverse > span{
  grid-column: 2;
}
.hovers#reverse > div{
  grid-column: 1;
} 

.dark-mode .css-all .css-word{
  display: none;
}

*/

/* .dark-mode .css-all .css-image .images:hover ~ .dark-mode .css-all .css-word{
  background: red;
  display: none;
} */

@media screen and (max-width: 431px) {
  .css .css-all,
  .all .css-all {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 180px));
    justify-content: space-between;
    column-gap: 0px;
  }
  .css .css-all,
  .all .css-all {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 290px));
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    width: 430px;
    column-gap: 10px;
    justify-content: center;
    padding: 10px 8px 3px 10px;
    height: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 5px;
    margin-bottom: 15px;
    background: linear-gradient(to right, transparent, white);
    animation: translates 3s linear forwards;
  }
}
