:root{
  --Btn-background:white;
  --Btn-color:black;
  --Profiles-background:#92c7c767;

 }
 .dark-mode{
   --Btn-color: #00bfff;
   --Btn-color: #fff;
   --Btn-background:transparent;
   --Profiles-background:transparent;
 }


/* Profile */
.Profiles{
  margin-top: 10px;
  min-height: 100vh;
  background-color: var(--Profiles-background);
}
.Profiles .head-h1{
  color: var(--h1-color);
  margin-top: 10px;
}



/* Profiles-work */
.Profiles .Profiles-work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.Profiles .Profiles-btn{
  display: flex;
  column-gap: 10px;
  justify-content: center;
  text-align: center;
  margin: 50px 0px 30px 0px;
}
.Profiles-btn .all-btn{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px, 170px));
  text-align: center;
  justify-content: center;  
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
}
.profile-btn,.profile-btn2,
.profile-btn3,.profile-btn4{
  display: block;
  cursor: pointer;
  padding: 10.5px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 550;
  color: var(--Btn-color);
  font-family: sans-serif;
  background-color: var(--Btn-background);
}
/* HOVER */
.profile-btn:hover,.profile-btn2:hover,
.profile-btn3:hover,.profile-btn4:hover{
   color: white;
   background:linear-gradient(#f75d59,#f75e597c,rgba(128, 0, 128, 0.326),purple);
   background-color: purple;
}
.dark-mode .profile-btn:hover,.dark-mode .profile-btn2:hover,
.dark-mode .profile-btn3:hover,.dark-mode .profile-btn4:hover{
   color: deepskyblue;
   background:none;
}

.Onactive-p{
  padding: 10.5px 20px;
  font-size: 15px;
  color: white;
  background:linear-gradient(#f75d59,#f75e597c,rgba(128, 0, 128, 0.326),purple);
  background-color: purple;
  font-weight: 550;
  padding: 10.5px 20px;
  border: none;
  border-radius: 6px;
  border-bottom:none;
  box-shadow: 1px 2px 5px gray;
}
.dark-mode .Onactive-p{
  padding: 10.5px 20px;
  font-size: 15px;
  /* color: white;
  background:linear-gradient(#f75d59,#f75e597c,rgba(128, 0, 128, 0.326),purple);
  background-color: purple; */
  background: none;
  color: deepskyblue;
  font-weight: 550;
  padding: 10.5px 20px;
  border: none;
  border-radius: 6px;
  border-bottom:none;
  box-shadow: 1px 2px 5px gray;
}

/* all-works */
.Profiles-display .html{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 450px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
}

/* Profiles-display */
.Profiles-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.Profiles-display .css{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 450px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
}

/* .dark-mode  */
.dark-mode .Profiles-display .css{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 260px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
}
.dark-mode .css .css-all,.all .css-all{
  position: relative;
  display: grid;  
  background: none;
  column-gap: none;
  animation: translates 3s linear forwards;
  overflow: hidden;
  box-shadow: none;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: auto;
}
.dark-mode .all .css-all{
  position: relative;
  display: grid;  
  background: none;
  column-gap: none;
  animation: translates 3s linear forwards;
  overflow: hidden;
  box-shadow: none;
  padding: 0px 0px 0px 0px;
  width: 250px;
  height: auto;
}

.dark-mode .Profiles-display .html{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 270px));
  text-align: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
}

.css .css-all,.all .css-all{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 290px));
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
  width: 430px;
  column-gap: 10px;
  justify-content: center;
  padding: 10px 8px 3px 10px;
  height: auto;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 5px;
  margin-bottom: 15px;
  background: linear-gradient( to right,transparent,white);
  animation: translates 3s linear forwards;
}
@keyframes translates {
  0%{
   transform: translateY(-130px)
  }
  100%{
    transform: translateY(0px);
  }
}



.css-all .css-word{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
/* .dark-mode */

.dark-mode .css-word .about-p{
  margin-left: 10px;
}

.dark-mode .css-all .css-image:hover::before{
  top: -4px;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  border-radius: 0px 0px 15px 15px;
  background: linear-gradient(to bottom, transparent,rgba(0, 191, 255, 0.766) 100%);
}
.dark-mode .css-all .css-image:hover ~ .css-word{
  cursor: pointer;
  top: 0px;
  left: 5px;
  display: block;
  width: auto;
  font-size: 17px;
  position: absolute;
  height: 0%;
  color: white;
}

.dark-mode .css-all .css-word{
   /* position: absolute;
  width: 100%;
  height: 100%;
  font-size: 17px;
 display: flex;
  flex-direction: column;
  text-align: left; 
  display: none;
  color: white;
  border-radius: 10px;*/
  display: none;
}

.css-all .css-word h3{
  margin: 0px 0px 5px 0px;
}
.dark-mode .css-all .css-word h3{
  margin: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.css-all .css-image .images{
  width: 150px;
  height: 100px;
  border: none;
  cursor: pointer;
}

/* .dark-mode */
.dark-mode .css-all .css-image .images{
  width: 250px;
  height: 190px;
  border: 3px solid deepskyblue;
  border-radius: 10px;
}

/* .hovers{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,500px));
  justify-content: space-between;
  position: relative;
}
.hovers > span{
  grid-row: span 2;
}
 .reverse{
  grid-template-columns: repeat(auto-fit,minmax(500px,500px));
}

.hovers > div{
  grid-column: 2;
}
.hovers#reverse > span{
  grid-column: 2;
}
.hovers#reverse > div{
  grid-column: 1;
} 

.dark-mode .css-all .css-word{
  display: none;
}

*/



/* .dark-mode .css-all .css-image .images:hover ~ .dark-mode .css-all .css-word{
  background: red;
  display: none;
} */

@media screen  and (max-width:431px){
  .css .css-all,.all .css-all{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 180px));
    justify-content: space-between;
    column-gap: 0px;
  }
  .css .css-all,.all .css-all{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 290px));
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    width: 430px;
    column-gap: 10px;
    justify-content: center;
    padding: 10px 8px 3px 10px;
    height: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 5px;
    margin-bottom: 15px;
    background: linear-gradient( to right,transparent,white);
    animation: translates 3s linear forwards;
  }
}

