* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.Profile {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 200px) {
  .Profile {
    width: 100%;
    overflow-x: hidden;
  }
}
